name: Package and push to registry repo
on:
  push:
    tags: [ v* ]

env:
  # the repository to which to push the release version
  # usually a fork of typst/packages (https://github.com/typst/packages/)
  # that you have push privileges to
  REGISTRY_REPO: author/typst-packages
  # the path within that repo where the "<name>/<version>" directory should be put
  # for the Typst package registry, keep this as is
  PATH_PREFIX: packages/preview

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    outputs:
      pkg-name: ${{ env.PKG_NAME }}
      pkg-version: ${{ env.PKG_VERSION }}
      pkg-id: ${{ env.PKG_NAME }}-${{ env.PKG_VERSION }}
      git-user-name: ${{ env.GIT_USER_NAME }}
      git-user-email: ${{ env.GIT_USER_EMAIL }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install just
        uses: taiki-e/install-action@v2
        with:
          tool: just

      - name: Determine and check package metadata
        run: |
          . scripts/setup
          echo "PKG_NAME=${PKG_PREFIX}" >> "${GITHUB_ENV}"
          echo "PKG_VERSION=${VERSION}" >> "${GITHUB_ENV}"

          if [[ "${GITHUB_REF_NAME}" != "v${VERSION}" ]]; then
            echo "package version ${VERSION} does not match release tag ${GITHUB_REF_NAME}" >&2
            exit 1
          fi

          echo "GIT_USER_NAME=$(git log -1 --pretty=format:'%an')" >> "${GITHUB_ENV}"
          echo "GIT_USER_EMAIL=$(git log -1 --pretty=format:'%ae')" >> "${GITHUB_ENV}"

      - name: Create archives
        run: |
          just package out
          mkdir dist
          cd out
          zip -r "../dist/${PKG_NAME}-${PKG_VERSION}.zip" "${PKG_NAME}"
          # TODO create tar.gz with same contents as packages.typst.org

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PKG_NAME }}-${{ env.PKG_VERSION }}
          path: dist/*
          retention-days: 3

  publish:
    name: Publish to a registry fork
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout package registry
        uses: actions/checkout@v6
        with:
          repository: ${{ env.REGISTRY_REPO }}
          token: ${{ secrets.REGISTRY_TOKEN }}
          path: typst-packages
          sparse-checkout: ${{ env.PATH_PREFIX }}/${{ needs.build.outputs.pkg-name }}/${{ needs.build.outputs.pkg-version }}

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: ${{ needs.build.outputs.pkg-id }}

      - name: Commit package release
        env:
          PKG_NAME: ${{ needs.build.outputs.pkg-name }}
          PKG_VERSION: ${{ needs.build.outputs.pkg-version }}
          PKG_ID: ${{ needs.build.outputs.pkg-id }}
          GIT_USER_NAME: ${{ needs.build.outputs.git-user-name }}
          GIT_USER_EMAIL: ${{ needs.build.outputs.git-user-email }}
        run: |
          unzip "${PKG_ID}/${PKG_ID}.zip" -d "${PKG_ID}"
          mkdir -p "typst-packages/${PATH_PREFIX}/${PKG_NAME}"
          mv "${PKG_ID}/${PKG_NAME}/${PKG_VERSION}" "typst-packages/${PATH_PREFIX}/${PKG_NAME}"
          rmdir "${PKG_ID}/${PKG_NAME}"

          cd typst-packages
          git config user.name "${GIT_USER_NAME}"
          git config user.email "${GIT_USER_EMAIL}"
          git checkout -b "${PKG_ID}"
          git add .
          git commit -m "${PKG_NAME}:${PKG_VERSION}"

      - name: Push package release to the fork
        env:
          PKG_ID: ${{ needs.build.outputs.pkg-id }}
        run: |
          cd typst-packages
          git push --force --set-upstream origin "${PKG_ID}"
